.dropzone {
    padding: 12px 15px;
    border-radius: var(--inputBorderRadius);
    margin-top: var(--inputMarginTop);
    border: 1px dashed var(--inputBorderColor);
    display: flex;
    cursor: pointer;
    transition: all 0.1s;
}

.dropzone p {
    user-select: none;
    font-size: var(--inputFontSize);
    color: #9A9A9A;
    margin-left: var(--iconMarginLeft);
}

.dropzone span {
    color: #35A3E0;
}