
.dropzone-component-container {
    margin-top: var(--inputMarginTop);
    height: 50px;
}

.dropzone {
    padding: 12px 15px;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    border-radius: var(--inputBorderRadius);
    border: 1px dashed var(--inputBorderColor);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
}

.dropzone p {
    user-select: none;
    font-size: var(--inputFontSize);
    color: #9A9A9A;
    margin-left: var(--iconMarginLeft);
}

.dropzone span {
    color: #35A3E0;
}

#profile-preview {
    border-radius: 50%;
}

.image-and-dropzone-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-and-dropzone-container img {
    width: auto;
    height: 100%;
}