
.dropzone-component-wrapper {
    margin-top: var(--inputMarginTop);
    width: 100%;
}

.dropzone-container {
    height: 50px;
}

.dropzone {
    padding: var(--inputPadding);
    height: 100%;
    width: 100%;
    margin-left: 15px;
    border-radius: var(--inputBorderRadius);
    border: var(--borderThickness) solid var(--inputBorderColor);
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 4px;
}

.dropzone p {
    user-select: none;
    font-size: var(--inputFontSize);
    color: #9A9A9A;
    margin-left: var(--iconMarginLeft);
}

.dropzone span {
    color: #35A3E0;
}

#profile-preview {
    border-radius: 50%;
}

.image-and-dropzone-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-and-dropzone-container img {
    width: auto;
    height: 100%;
}