.submit-btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#save-btn {
    margin-left: 20px;
    background: black;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: var(--inputFontSize);
    border-radius: 5px;
    cursor: pointer;
}