.text-input-wrapper {
    margin-top: var(--inputMarginTop);

}

#text-input {
    padding: var(--inputPadding);
    height: 50px;
    display: block;
    width: 100%;
    border: var(--borderThickness) solid var(--inputBorderColor);
    border-radius: var(--inputBorderRadius);
    font-size: var(--inputFontSize);
    box-shadow: var(--inputBoxShadow);
    transition: all 0.1s;
}

#text-input:focus {
    outline: none;
    border: var(--inputFocusedBorder);
}