.title-input {
    border: none;
    padding: 0;
    font-size: 22px;
    font-weight: bolder;
    min-width: 10px;
    padding: 5px;
    transform: translate(-5px, 5px);
    border-radius: var(--inputBorderRadius);
}

.title-input:hover {
    outline: 1px solid var(--inputBorderColor);
}

.title-input:focus {
    outline: 2px solid black
}
#hide {
    position: absolute;
    opacity: 0;
    z-index: -100;    
    white-space: pre;
}

/* Error message styles */
.title-input:focus + #title-error-msg {
    display: block;
}

#title-error-msg {
    display: none;
}