.data-inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--inputMarginTop);
}

.react-time-picker__inputGroup__amPm {
    display: none;
}


.ant-picker, .ant-input-number {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: var(--inputBorderRadius);
    border: var(--borderThickness) solid var(--inputBorderColor) !important;
    padding: var(--inputPadding);
    box-shadow: var(--inputBoxShadow);
    height: 50px;
}

.ant-input-number-input {
    padding: 0 !important;
}

.ant-picker-input > input, .ant-input-number-input-wrap > input{
    color: black !important;
    font-size: 15px !important;
    font-family: "Lato", "sans-serif" !important;
}

.ant-picker-input > input::placeholder, .ant-input-number-input-wrap > input::placeholder{
    color: var(--inputPlaceholderColor) !important;
    font-family: "Lato", "sans-serif" !important;
}

.ant-picker-now-btn {
    display: none;
}


