@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primaryBorderColor: #cecece;
  --inputBorderColor: #aeaeae;
  --primaryIconColor: #818181;
  --borderThickness: 1.1px;
  --inputBorderRadius: 5px;
  --inputMarginTop: 22px;
  --inputFontSize: 15px;
  --iconMarginLeft: 5px;
  --navBarHeight: 50px;
  --inputPadding: 12px 15px;
  --inputBoxShadow: rgba(0, 0, 0, 0.07) 0px 1px 4px;
  --inputFocusedBorder: #000 solid 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* Global form styles */
.form-section-container {
  margin-top: 45px;
}

.form-section-title {
  font-size: 16px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.form-section-title p {
  margin-left: 8px;
  text-transform: uppercase;
}

.input-label {
  margin-bottom: 10px;
}

.error-msg {
  margin-top: 10px;    
  color: red;
  font-size: 12px;
}

.form-section-inputs-container .input-label:not(:last-child) {
  margin-top: var(--inputMarginTop);
}

/* React modal */
.ReactModal__Overlay { 
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: scale(90%) translate(-50%, -50%) !important;
  transform-origin: left top; 
}

.ReactModal__Content--after-open {
  transform: scale(100%) translate(-50%, -50%) !important;
  transform-origin: left top; 
}

.ReactModal__Content--before-close {
  transform: scale(90%) translate(-50%, -50%) !important;
}

