nav {
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid var(--primaryBorderColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

#logo {
    user-select: none;
    font-family: "Arimo", "sans-serif";
    font-weight: bold;
}

.test {
    cursor: pointer;
    color: var(--primaryIconColor);
}