#navbar {
    height: 50px;
    padding: 20px;
    border-bottom: var(--borderThickness) solid var(--primaryBorderColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

#logo-container {
    user-select: none;
    font-family: "Arimo", "sans-serif";
    font-weight: bold;
    display: flex;
}

#logo-container a {
    display: grid;
    place-items: center;
    margin-left: 8px;
    cursor: pointer;}