#phone-container {
    width: 60vw;
    display: grid;
    place-items: center;
    user-select: none;
    position: relative;
}

#phone-container * {
    font-family: "SF Pro", "sans-serif";
}

#iphone-frame {
    height: 635px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 100;
}

#screenshot {
    width: 277px;
    height: 600px;
    position: absolute;
    z-index: -10;
}

#phone-screen-container {
    width: 277px;
    height: 600px;
    background: #fff;
    opacity: 1;
}

/* Status bar */
#phone-status-bar {
    width: 100%;
    background: #fff;
    height: 22px;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#time {
    margin-left: 23px;
    margin-right: 4px;
}

#status-icons {
    display: flex;
    align-items: flex-end;
    margin-right: 9px;
}

#status-icons p {
    font-size: 9px;
    margin: 0 1px;
}

#battery-icon {
    height:  10px;
    margin-left: 3px;
}

#cell-signal-icon {
    height:  9px;
}

/* Top nav */
#phone-top-nav {
    position: relative;
    width: 100%;
    height: 31px;
    border-bottom: 1.5px solid var(--screenBorderColor);
    margin-top: 14px;
}

#feed-btn {
    display: flex;
    align-items: center;
    color: var(--stravaOrange);
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    left: -4px;
}

#feed-btn p {
    transform: translateX(-5px);
}

#run-text {
    justify-self: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: 900;
}

#three-dots {
    color: var(--stravaOrange);
    margin-left: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* Run info */
#run-info-container {
    width: 100%;
    height: 449px;
    padding: 12px;
}

#run-info-container * {
    font-family: "Maison Neue", "sans-serif"
}

#screen-profile-img {
    width: 30px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
}

.name-and-date {
    height: 30px;
    margin-left: 8px;
}

.name-and-date h1 {
    font-size: 10.5px;
}

.name-and-date span {
    font-size: 8.5px;
    display: flex;
    align-items: flex-end;
    margin-top: 2px;
}

#date {
    margin-left: 2px;
    color: var(--inputPlaceholderColor);
}

#run-title {
    font-size: 15px;
    margin-top: 15px;
}

#phonepreview-map {
    width: calc(100% + 24px);
    transform: translateX(-12px);
    height: 191px;
    margin-top: 10px;
}

.leaflet-control-attribution {
    display: none;
}

#run-data-grid {
    margin-top: 5px;
    width: 100%;
    height: 134.5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#run-data-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#run-data-grid div:nth-child(3), #run-data-grid div:nth-child(4) {
    border-top: 1.5px solid var(--screenBorderColor);
    border-bottom: 1.5px solid var(--screenBorderColor);
}

#run-data-grid div:nth-child(odd):after {
    content: "";
    width: 1px;
    height: 19px;
    background: var(--screenBorderColor);
    position: absolute;
    right: 0;
}

.run-data-title {
    font-size: 8px;
    color: var(--inputPlaceholderColor);
}

.run-data-number {
    font-size: 15px;
    margin-top: 4px;
}

#view-analysis-btn {
    margin-top: 1px;
    height: 24px;
    padding: 2px 2px;
    width: 100%;
    background: var(--stravaOrange);
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    border-radius: 3px;
    display: grid;
    place-items: center;
}

#private-warning {
    display: flex;
    font-size: 9px;
    justify-content: center;
    border-top: 1.5px solid var(--screenBorderColor);
    padding: 11px;
    color: var(--inputPlaceholderColor);
}

#private-warning p {
    margin-left: 5px;
}

#screen-bottom-nav {
    width: 100%;
    height: 40px;
    border-top: 1px solid var(--screenBorderColor);
}

#screen-bottom-nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

#screen-bottom-nav li{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--inputPlaceholderColor);
}

#screen-bottom-nav li:first-child {
    color: var(--stravaOrange);
}

#screen-bottom-nav li p {
    font-size: 8px;
}